.wrapper {
    display: inline-flex;
    gap: 8px;
    align-items: center;

    border: none;
    outline: none;
    // padding: 8px 16px;
    background: #ccc;
    color: inherit;
    text-decoration: none;
    user-select: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.primary {
    background: orange;
}

.secondary {
    background: yellowgreen;
}

.rounded {
    border-radius: 99px;
}

.disabled {
    opacity: 0.5;
}

// CSS riêng cho nút theme toggle
.themeToggle {
    min-width: auto;
    min-height: auto;
    padding: 10px;
    background: transparent;
    border-radius: 50%;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 999;
    right: 20px;
    top: 20px;

    &:hover {
        background: rgba(0, 123, 255, 0.1);
        transform: scale(1.1);
    }
    &:active {
        transform: scale(0.95);
    }

    & > div > span {
        display: none;
    }
}
