* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Manrope;
    src: url(../font/fontManrope/static/Manrope-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: Manrope;
    src: url(../font/fontManrope/static/Manrope-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Manrope;
    src: url(../font/fontManrope/static/Manrope-Medium.ttf);
    font-weight: 500;
}


@font-face {
    font-family: Manrope;
    src: url(../font/fontManrope/static/Manrope-Bold.ttf);
    font-weight: 700;
}

html {
    font-size: 62.5%;
}
a {
    text-decoration: none;
    color: #000;

}



body{
    background-image: url(https://images.unsplash.com/photo-1545472956-3ebf777846cc?q=80&w=1480&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    font-family: Manrope;
    font-size: 1.6rem;
    background-repeat: no-repeat;
    background-position: 100%;
}

.logo{
    display: flex;
    font-size: 4rem;


}

.logo img {
    width: 50px;
    height: 50px;
    vertical-align:middle;
}

header {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 4rem 5rem;
}

.navbar {
    display: flex;
}


.mega_menu {
    display: flex;
    line-height: 3rem;
    position: absolute;
    top: 75px;
    left: 0;
    background-color: #fff;
}

.menu {
   margin: 4rem 8rem;

}


.usage {
    width: 300px;
    height: 120px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;

}

.styleguide {
    width: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 120px;
    position: relative;

}

.elements {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 700px;
    height: 300px;
    border-left: 2px solid #ccc;
    padding-left: 100px;
}

.nav_item {
    padding: 3rem 4rem ;
}
.mega_menu {
    display: none;
}



.nav_item:hover .mega_menu {
    display: flex;
}


